body{
    width:800px;
    margin:auto;
    font-family:sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

h1 
{
    text-align:center;
    font-weight:400;
}

#header 
{
    display:block;
    height:40px;
    margin-top:35px;
}
.inner-left {
    float:left;
}

.inner-right {
    float:right;

}

.site-title-link
{
    font-size:25px;
}

ul {
   list-style-type: none;
}

.navigation {
display:flex;
margin-left:auto;
margin-bottom:0px;
padding-left:0px;
}

.navigation li 
{
    padding-left:10px;
}

main 
{
    display:block;
    text-align:center;
    margin-top: 65px;
    width:750px;
}

.button 
{
    background-color:lightskyblue;
    color:white;
    padding: 8px 20px 8px 20px;
}

.post-date{
    color:grey;
    margin-bottom:10px;
    size:10px;
}

.post-content {
    margin-top:40px;
    font-family:serif;
    line-height:1.5em;
}

#footer {
    margin-top:30px;
}

.footer-links
{
    display:flex;
}

.footer-links li a
{
    padding-left:20px;
    color:grey !important;
}